    
    <footer>
      <div class="content">
        <div class="footer-container">
          <div class="linklist footer-nav">
            <h3>navigate</h3>
            <ul>
            {% for link in linklists.footer_navigate.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
          <div id="mail-list">
            <h3>mailing list</h3>
            <p>Join for news &amp; product updates from Beardman.</p>
            <form>
                <input type="text" name="email" id="newsletter" placeholder="Your email address" />
                <input type="submit" value="sign up" />
            </form>
          </div>
          <div class="linklist connect">
            <h3>connect</h3>
            <ul>
            {% for link in linklists.footer_connect.links %}
              <li class="{{ link.title | escape }}">
                <a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title | escape | camelize }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </footer><!-- #footer -->
    
    <div id="baseline">
      <div class="content">
        <div id="shop-details">
          <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }} All bristles reserved.</p>
        </div>
        <div id="payment-methods">
          {% comment %}{% if settings.accept_paypal %}<li><img src="{{ 'icon-cc-paypal.png' | asset_url }}" alt="PayPal" /></li>{% endif %}{% endcomment %}
          <img src="{{ 'paypal.png' | asset_url }}" />
        </div>
      </div>
    </div>
